@model EmployeeManagement.ViewModels.HomeDetailsViewModel

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.PageTitle</title>
</head>
<body>
    <h3>@Model.Headline</h3>
    <table>
        <tr>
            <td>ID</td>
            <td>@Model.Employee.Id</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>@Model.Employee.Name</td>
        </tr>
        <tr>
            <td>Department</td>
            <td>@Model.Employee.Department</td>
        </tr>
    </table>
    <br/>
    <p>
        Ticks: @ViewData["TimeSpanTicks"]<br/>
        ms: @ViewData["ms"]
    </p>
</body>
</html>
